// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

// Textfiled
$text-field-outlined-fieldset-border: 1px solid currentColor !default;
$text-field-border-radius: 7px;

// Button
$btn-text-transform: capitalize;
$btn-border-radius: 6px;
